<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".di.AlifApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alif"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.quran.SurahActivity"
            android:exported="false"
            android:theme="@style/Theme.Alif" />
        <activity
            android:name=".ui.compass.CompassActivity"
            android:exported="false"
            android:theme="@style/Theme.Alif.Compass" />
        <activity
            android:name=".ui.quran.QuranActivity"
            android:exported="false"
            android:label="@string/title_activity_quran"
            android:theme="@style/Theme.Alif" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_base_component"
            android:theme="@style/Theme.Alif" />
        <activity
            android:name=".ui.addactivity.AddProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Alif.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />

        <receiver
            android:name=".service.PrayerAlarm"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>